<div id="<%= dom_id university_student %>">
  <p>
    <strong>Name:</strong>
    <%= university_student.name %>
  </p>

  <p>
    <strong>Faculty:</strong>
    <%= university_student.faculty %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= university_student.grade %>
  </p>

</div>
