<h1>Editing university student</h1>

<%= render "form", university_student: @university_student %>

<br>

<div>
  <%= link_to "Show this university student", @university_student %> |
  <%= link_to "Back to university students", university_students_path %>
</div>
