<p style="color: green"><%= notice %></p>

<h1>University students</h1>

<div id="university_students">
  <% @university_students.each do |university_student| %>
    <%= render university_student %>
    <p>
      <%= link_to "Show this university student", university_student %>
    </p>
  <% end %>
</div>

<%= link_to "New university student", new_university_student_path %>
